@import '../../variables';

.root {
  position: relative;
  min-height: 100vh;
  padding: 33px 0;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 2.5rem;
}

.flexVertical {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.pokemonInput {
  width: 100%;
}